* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    line-height: 1.6;
    background-color: #F5F5DC;
    color: #4B3621;

}

header {
    background: #BCB88A;
    color: #E2725B;
    padding: 1rem 0;
}

h1{
    text-align: center;
    font-size: 3rem;
}

#home p{
    text-align: center;
    font-size: 1.5rem;
    padding: 10px 10px 10px 10px;
    
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#menu-3d {
    width: 100%;
    height: 400px;
    background-color: #e9ecef;
}

#events-calendar {
    width: 100%;
    height: 400px;
    background-color: #e9ecef;
}
